.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-family: 'Shadows Into Light', cursive;
}

.words {
  padding: 0px 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}