.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 72px;
  font-family: 'Shadows Into Light', cursive;
  color: #000000;
  transition: all .5s ease;
}

.title:hover {
  font-size: 92px;
  color: #b91717;
}

.words {
  padding: 20px 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.wordRow {
  width: 100%;
  display: flex;
  justify-content: space-around;
}